{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
  <div class="accordion" id="accordionTasks">
    {% for task in tasks %}
      <div class="card mb-2">
        <div class="card-header m-0 p-0" id="heading{{ task.id }}">

            <button class="btn {{ 'btn-secondary' if task.is_active else 'btn-danger' }} btn-lg btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ task.id }}" aria-expanded="false" aria-controls="collapse{{ task.id }}">
              {{ task.title }}
            </button>

        </div>

        <div id="collapse{{ task.id }}" class="content-segment collapse" aria-labelledby="heading{{ task.id }}" data-parent="#accordionTasks">
          <div class="card-body">
            {{ task.content|safe }}
          </div>
          {% if current_user.is_admin %}
          <div class="card-body">
            {{ task.solution|safe }}
          </div>
          <div class="row">
            <div class="col ml-2 mt-auto">
              <small class="text-muted">{{ task.date_added.strftime('%Y.%m.%d %H:%M:%S') }}</small>
            </div>
            <div class="col text-right">
              <button type="button" class="btn btn-secondary btn-sm m-1" disabled>
                {{ 'active' if task.is_active else 'hidden' }}
              </button>
              <a href="{{ url_for('general.task_update', link=task.link) }}"
               class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>
              <button type="button" class="btn btn-danger btn-sm m-1"
                      data-toggle="modal" data-target="#deleteModal{{task.id}}">Delete</button>
            </div>
          </div>
          {% endif %}
        </div>
      </div>

    <!-- Modal -->
  <div class="modal fade" id="deleteModal{{task.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{task.id}}Label"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModal{{task.id}}Label">Delete Task?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('general.task_delete', link=task.link) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

    {% endfor %}
  </div>

{% endblock %}